<div class="relative w-full overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex justify-between mb-7 py-5 border-b-2 text-center flex-wrap">
        <div class="filers flex gap-5 items-center flex-wrap">
            <div class="statuses flex space-x-3 items-center">
                <label for="status" class="block text-md font-bold text-gray-900 dark:text-white">Status:
                </label>
                <div class="flex space-x-2">
                    <div *ngFor="let status of [0, 1, 2]" class="flex space-x-1 items-center">
                        <label [for]="'status-' + status">{{ getStatus(status) }}</label>
                        <input (change)="toggleStatus(status)" [id]="'status-' + status" type="checkbox" name="statuses"
                            class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    </div>
                </div>
            </div>
            <div class="priorities flex space-x-3 items-center">
                <label for="priority" class="block text-md font-bold text-gray-900 dark:text-white">Priority:
                </label>
                <input [(ngModel)]="selectedPriority" type="number" name="priority" id="priority"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required="" />
            </div>
        </div>
        <button (click)="getTasks()" type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Filter
        </button>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Title</th>

                <th scope="col" class="px-6 py-3 cursor-pointer" (click)="changeSort('duedate')"
                    [ngClass]="sorter.field == 'duedate' ? 'text-red-500 font-bold' : ''">
                    <div class="flex space-x-2">
                        <span> dueDate </span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-3"
                            *ngIf="sorter.direction == 'desc' && sorter.field == 'duedate'">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                        </svg>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3 cursor-pointer" (click)="changeSort('status')"
                    [ngClass]="sorter.field == 'status' ? 'text-red-500 font-bold' : ''">
                    <div class="flex space-x-2">
                        <span> Status </span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-3"
                            *ngIf="sorter.direction == 'desc' && sorter.field == 'status'">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                        </svg>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3 cursor-pointer" (click)="changeSort('priority')"
                    [ngClass]="sorter.field == 'priority' ? 'text-red-500 font-bold' : ''">
                    <div class="flex space-x-2">
                        <span> Priority </span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-3"
                            *ngIf="sorter.direction == 'desc' && sorter.field == 'priority'">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                        </svg>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ task.id }}
                </th>
                <td class="px-6 py-4">
                    {{ task.title }}
                </td>
                <td class="px-6 py-4">
                    {{ task.dueDate | date }}
                </td>
                <td class="px-6 py-4">
                    {{ getStatus(task.status) }}
                </td>
                <td class="px-6 py-4">
                    {{ task.priority }}
                </td>
                <td class="">
                    <div class="flex gap-2 items-center">
                        <button type="button" (click)="changeTask(task)" data-modal-target="task-modal"
                            data-modal-toggle="task-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6 text-blue-400 cursor-pointer">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </button>
                        <svg (click)="deleteTask(task)" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="size-6 text-red-500 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                        <svg *ngIf="canCompleted(task)" (click)="completeTask(task)" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                        </svg>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="flex justify-end my-3">
    <app-pagination [data]="pagination"></app-pagination>
</div>
<button data-modal-target="task-modal" data-modal-toggle="task-modal" (click)="changeTask(newTask)"
    class="block mt-5 float-right text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button">
    Add project
</button>

<app-task-modal [task]="selectedTask" (taskAdded)="addTask($event)" (taskUpdated)="updateTask($event)" (closeModal)="closeModal()"></app-task-modal>